<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      @if (edit){
        <h2>Edita {{title.value}}</h2>
      } @else {
        <h2>Añade un nuevo juego</h2>
      }
    </div>
    <div class="col-md-4 offset-md-2">
      <form [formGroup]="formGame">
        <div class="form-floating mb-3">
          <input type="text" class="form-control"
                 id="title"
                 formControlName="title"
                 placeholder="title">
          <label for="title">Título</label>
          @if (title.invalid && (title.dirty || title.touched)){
            <div class="alert alert-danger">
              @if (title.errors['required']){
                El título es obligatorio
              }
              @if (title.errors['minlength']){
                Mínimo 2 caracteres
              }
              @if (title.errors['maxlength']){
                Máximo 255 caracteres
              }
              @if (title.errors['notOnlyWhiteSpace']){
                No pueden ser solo espacios en blanco
              }
              @if (title.errors['forbiddenName']){
                Las palabras SEXO y DROGA están prohibidas
              }
            </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control"
                 id="subtitle"
                 formControlName="subtitle"
                 placeholder="subtitle">
          <label for="subtitle">Subtítulo</label>
          @if (subtitle.invalid && (subtitle.dirty || subtitle.touched)){
          <div class="alert alert-danger">
            @if (subtitle.errors['required']){
              <small>El subtítulo es obligatorio</small>
            }
            @if (subtitle.errors['minlength']){
              <small>Mínimo 2 caracteres</small>
            }
            @if (subtitle.errors['maxlength']){
              <small>Máximo 255 caracteres</small>
            }
          </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control"
                 id="description"
                 formControlName="description"
                 placeholder="description">
          <label for="description">Descripción</label>
          @if (description.invalid && (description.dirty || description.touched)){
          <div class="alert alert-danger">
            @if (description.errors['required']){
              La descripción es obligatoria
            }
            @if (description.errors['minlength']){
              Mínimo 2 caracteres
            }
            @if (description.errors['maxlength']){
              Máximo 255 caracteres
            }
          </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control"
                 id="image"
                 formControlName="image"
                 placeholder="image">
          <label for="image">Imagen</label>
          @if (image.invalid && (image.dirty || image.touched)){
          <div class="alert alert-danger">
            @if (image.errors['required']){
              <small>La imagen es obligatoria</small>
            }
            @if (image.errors['minlength']){
              <small>Mínimo 2 caracteres</small>
            }
            @if (image.errors['maxlength']){
              <small>Máximo 255 caracteres</small>
            }
          </div>
          }
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" formControlName="favorite"
                 id="check"
                 class="form-check-input">
          <label class="form-check-label" for="check">Favorite</label>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-success" (click)="onSubmit()">
            {{edit? 'EDITAR': 'AÑADIR'}}
          </button>
        </div>
      </form>


    </div>
    <div class="col-md-4 col-lg-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>{{ title.value ? title.value : 'Título' }}
              @if (favorite.value) {
                <fa-icon [icon]="faHeart"
                         class="text-danger"></fa-icon>
              } @else {
                <fa-icon [icon]="faHeartBroken"
                         class="text-danger"></fa-icon>
              }
            </h2>
          </div>
          <div class="card-subtitle">{{ subtitle.value ? subtitle.value : 'Subtítulo' }}</div>
        </div>
        <img src="{{image.value ? image.value : '/images/not-found.png'}}" alt="" class="card-img-top">
        <div class="card-body">
          <p class="card-text">{{ description.value ? description.value: 'Descripción' }}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <p class="text-muted">
              {{ created_at.value | date: 'mediumDate' }}</p>
            <div class="buttons d-flex">
              <button class="btn btn-lg">
                <fa-icon [icon]="faEdit" class="text-primary"></fa-icon>
              </button>
              <button class="btn btn-lg">
                <fa-icon [icon]="faTrashCan" class="text-danger"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    @if (toastShow) {
      <ngb-toast class="toast-container position-fixed
      {{toast.color}} text-light bottom-10 start-50 p-1" style="z-index: 1200"
      >{{ toast.body }}
      </ngb-toast>
    }
  </div>
</div>
